body{
    background-image: url(/Images/barbell-dark-grungy-gym-with-blue-red-neon-light_175682-29567.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    color: rgb(255, 255, 255);
}

hr{
    border-color: rgb(255, 255, 255);
}

p{
    font-size: large;
}

.ronnie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

button{
    text-align: center;
    font-size: medium;
    border-radius: 6px;
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
}

.footer{
    font-size: medium;
}

div.paragraph{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

div.list{
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    max-width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif {
    width: 200px;
}
.split {
    text-align: center;
}
