body{
    background-image: url(/Images/barbell-dark-grungy-gym-with-blue-red-neon-light_175682-29567.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    color: rgb(255, 255, 255);
}

hr{
    border-color: rgb(255, 255, 255);
}

p{
    font-size: large;
}

button{
    text-align: center;
    font-size: medium;
    border-radius: 6px;
    background-color: rgba(28, 28, 28, 0);
    color: rgb(255, 255, 255);
}

.footer{
    font-size: medium;
}

div.paragraph{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

div.list{
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    max-width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif {
    width: 200px;
}
.split {
    text-align: center;
}

button:hover{
    background-color: white;
    color: black;
}

.pagination{
    text-align: center;
}

.pagination a{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: hsl(0, 0%, 50%);
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 77%);
    border-radius: 5px;
}