* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  line-height: 1.6;
}
/* Sticky Navbar */
nav {
  background-color: #111;
  padding: 1rem;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0.5rem;
  position: relative;
}

.navbar > li {
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.navbar a:hover {
  color: #00c6ff;
  border-radius: 5px;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1f1f1f;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a {
  padding: 0.75rem 1rem;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  background-color: #00c6ff;
  color: black;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

header {
  text-align: center;
  padding: 4rem 1rem;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin: 3rem 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00c6ff;
}

.workout-card {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: block;
  transition: transform 0.2s ease;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep the text color from the parent */
}

.workout-card:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

.bg-content {
  dl {
    margin: 2rem;
    padding: 1rem;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .dt-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00c6ff;
    margin-top: 1.5rem;
  }

  dd {
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem 0;
  }
  .gif {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  .gif:hover {
    transform: scale(1.05);
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .pagination a {
    padding: 10px 20px;
    background-color: #00c6ff;
    color: white;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .pagination a:hover {
    background-color: #0072ff;
  }

  .pagination a.active {
    background-color: #0072ff;
  }
}
